body {
    background-image: radial-gradient(circle at 0% 30%, #173459, #903C56, #78969D);
    text-align: center;
}
p {
    font-size: 15px;
}
img {
    border-radius: 100px;
    border: 5px solid #222;
    padding: 1px;
    width: 125px;
    height: 125px;
}
div {
    padding: 20px;
    border: 2px solid rgba(255,255,255,.5);
    margin: 40px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}
a:link {
    text-decoration: none;
}
a {
    color: black;
}